#
# Multimedia Video Miscellaneous device configuration
#

if VIDEO_V4L2

menu "Miscellaneous helper chips"

comment "Various helper chips"

config VIDEO_MICROCHIP_CSI2DC
	tristate "Microchip CSI2 Demux Controller"
	depends on VIDEO_V4L2
	help
	  CSI2 Demux Controller driver. CSI2DC is a helper chip
	  that converts IDI interface byte stream to a parallel pixel stream.
	  It supports various RAW formats as input.
	  Performs clock domain crossing between hardware blocks.

endmenu

endif
