// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * at91-sama7g5ek.dts - Device Tree file for SAMA7G5-EK board
 *
 *  Copyright (c) 2020, Microchip Technology Inc. and its subsidiaries
 *
 *  Author: Eugen Hristev <eugen.hristev@microchip.com>
 *
 */
/dts-v1/;
#include "sama7g5-pinfunc.h"
#include "sama7g5.dtsi"
#include <dt-bindings/mfd/atmel-flexcom.h>

/ {
	model = "Microchip SAMA7G5-EK";
	compatible = "microchip,sama7g5ek", "microchip,sama7g5", "microchip,sama7";

	chosen {
		bootargs = "console=ttyS0,115200 earlycon earlyprintk=serial,ttyS0 ignore_loglevel rw root=/dev/mmcblk0p2 memtest=0 rootfstype=ext4 rootwait cma=256m";
	};

	aliases {
		serial0 = &uart0;
		i2c0 = &i2c0;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <24000000>;
		};
	};
};

&csi_dphy {
	status = "okay";
};

&csi2host {
	status = "okay";

	port@1 {
		reg = <1>;
		csi2host_in: endpoint {
			remote-endpoint = <&imx219_out>;
			data-lanes = <1 2>;
			bus-type = <4>;
			clock-lanes = <0>;
		};
	};
};

&csi2dc {
	status = "okay";
};

&xisc {
	status = "okay";
};

&gic {
	status = "okay";
};

&sdmmc1 {
	bus-width = <4>;
	mmc-ddr-1_8v;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdmmc1_default>;
	status = "okay";
};

&trng {
	status = "okay";
};

&flx1 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c0: i2c@600 {
		compatible = "microchip,sam9x60-i2c";
		reg = <0x600 0x200>;
		interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flx1_default>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&pmc PMC_TYPE_PERIPHERAL 39>;
		atmel,fifo-size = <32>;
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		status = "okay";
	};
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	uart0: serial@200 {
		compatible = "atmel,at91sam9260-usart";
		reg = <0x200 0x200>;
		interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flx3_default>;
		clocks = <&pmc PMC_TYPE_PERIPHERAL 41>;
		clock-names = "usart";
		status = "okay";
	};
};

&i2c0 {
	/*
	 * Camera sensor add-on board Raspberry Pi v2.1 Camera extension
	 *
	 * Sensor i2c address is fixed at 0x10
	 *
	 * 24 Mhz crystal is soldered on the board and hardwired to sensor
	 *
	 * Power supplies are present on the board and supplied by 3v3
	 * rail from sama7g5ek PMIC
	 */
	imx219: camera@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&imx219_clk>;
		clock-names = "xclk";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sensor_power &pinctrl_sensor_reset>;
		VANA-supply = <&vana_imx219>; /* 2.8v */
		VDIG-supply = <&vdig_imx219>; /* 1.8v */
		VDDL-supply = <&vddl_imx219>; /* 1.2v */
		reset-gpios = <&pioA PIN_PC30 GPIO_ACTIVE_HIGH>,
				<&pioA PIN_PC31 GPIO_ACTIVE_HIGH>;
		status = "okay";

		imx219_clk: camera-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};

		port {
			imx219_out: endpoint {
				remote-endpoint = <&csi2host_in>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				clock-noncontinuous;
			};
		};

		vana_imx219: fixed-regulator-vana {
			compatible = "regulator-fixed";

			regulator-name = "VANA-supply";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			regulator-always-on;
			regulator-boot-on;
			status = "okay";
		};

		vdig_imx219: fixed-regulator-vdig {
			compatible = "regulator-fixed";

			regulator-name = "VDIG-supply";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vana_imx219>;
			status = "okay";
		};

		vddl_imx219: fixed-regulator-vddl {
			compatible = "regulator-fixed";

			regulator-name = "VDDL-supply";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vana_imx219>;
			status = "okay";
		};
	};
};

&pioA {
	pinctrl_flx1_default: flx1_default {
		pinmux = <PIN_PC9__FLEXCOM1_IO0>,
			 <PIN_PC10__FLEXCOM1_IO1>;
		bias-disable;
	};

	pinctrl_flx3_default: flx3_default {
		pinmux = <PIN_PD16__FLEXCOM3_IO0>,
			 <PIN_PD17__FLEXCOM3_IO1>;
		bias-disable;
	};

	pinctrl_sdmmc1_default: sdmmc0_default {
		cmd_data {
			pinmux = <PIN_PB29__SDMMC1_CMD>,
				 <PIN_PB31__SDMMC1_DAT0>,
				 <PIN_PC0__SDMMC1_DAT1>,
				 <PIN_PC1__SDMMC1_DAT2>,
				 <PIN_PC2__SDMMC1_DAT3>;
			bias-disable;
		};

		ck_cd_rstn_vddsel {
			pinmux = <PIN_PB30__SDMMC1_CK>,
				 <PIN_PB28__SDMMC1_RSTN>,
				 <PIN_PC5__SDMMC1_1V8SEL>,
				 <PIN_PC4__SDMMC1_CD>;
			bias-disable;
		};
	};
};

&pioA {
	pinctrl_sensor_power: sensor_power {
		pinmux = <PIN_PC30__GPIO>;
		bias-disable;
	};

	pinctrl_sensor_reset: sensor_reset {
		pinmux = <PIN_PC31__GPIO>;
		bias-disable;
	};
};
